
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reservation Confirmation - Alps Driving School</title>
    <style>
           body, html {
               width: 100% !important;
               height: 100% !important;
               margin: 0 !important;
               padding: 0 !important;
               background-color: #ffffff; /* This sets the background color */
           }
           .email-container {
               max-width: 600px;
               margin: 0 auto;
               background-color: #F6F9FE;
               padding: 20px;
               border-radius: 8px;
               box-shadow: 0 0 10px rgba(0,0,0,0.1);
           }
           .logo {
               width: 120px;
               height: 120px;
               border-radius: 9999px;
               background-color: #F6F9FE;
               text-align: center;
               margin: 20px auto;
           }
           .title {
               color: #222;
               text-align: center;
               font-family: 'Poppins', Arial, sans-serif;
               font-size: 32px;
               font-weight: 400;
               line-height: normal;
               margin: 0;
           }
           .body-text {
               color: #565656;
               font-family: 'Poppins', Arial, sans-serif;
               font-size: 12px;
               font-weight: 400;
               line-height: normal;
               margin: 0;
               text-transform: capitalize;
               padding: 50px 0; /* Added padding as requested */

           }
           .body-text p {
               margin: 0 0 10px;
           }
          .code-container {
                 background-color: #ffffff;
                 text-align: center;
                 padding: 0px 50px; /* 50px top/bottom padding and 20px left/right padding */
                 border-radius: 25px; /* Rounded corners */
                 border: 2px dashed #FF7A89; /* Dashed border with a pinkish color */
                 display: inline-block; /* To wrap the container around the content */
                 margin: 5px 0;
             }
             .code {
                 color: #222;
                 font-family: 'Poppins', Arial, sans-serif;
                 font-size: 24px;
                 font-weight: 600;
                 line-height: normal;
             }
       </style>
</head>
<body>
    <table role="presentation" width="100%" height="100%" style="background-color: #ffffff;" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" valign="top" style="padding: 40px;">
                <table class="email-container" role="presentation" cellpadding="0" cellspacing="0" border="0" style="background-color: #F6F9FE; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                    <!-- Logo -->
                    <tr>
                        <td align="center" style="padding: 10px;">
                            <div class="logo">
                                <img src="https://firebasestorage.googleapis.com/v0/b/alps-1f606.appspot.com/o/email%2FImage.png?alt=media&token=f6514ddc-d059-4f52-aed6-2aea926680b3" alt="Alps Driving School logo" width="100" height="100" style="border-radius: 9999px;">
                            </div>
                        </td>
                    </tr>
                    <!-- Title -->
                    <tr>
                        <td align="center" style="padding: 10px;">
                            <h1 style="color: #222; text-align: center; font-family: 'Poppins', Arial, sans-serif; font-size: 32px; font-weight: 400; line-height: normal; margin: 0;">
                                Your Reservation Confirmationf
                            </h1>
                        </td>
                    </tr>
                    <tr>
                   <td align="center" style="padding: 10px;">
                       <div class="body-text">
                           <p>Dear Pupil,</p>
                           <p>Your reservation has been successfully created at Alps Driving School. Should you need to review your reservation, particularly if an error occurred during the payment process, please use the following reservation code:</p>
                       </div>

                     <div class="bg-gray-200 p-4 rounded text-center mb-4">
                         <h4 class="text-gray-700 font-semibold text-lg">Reservation Code:</h4>
                         <div class="code-container">
                            <p class="code"><%= reservationCode %></p>
                         </div>
                     </div>
                       <div class="body-text">
                        <p class="text-gray-700 mb-4">For any inquiries or further assistance, please contact us:</p>
                        <p class="text-gray-700 mb-2">Office: 0800 669 6700 | Sat, Jan 20, 5:56 PM (18 hours)</p>
                        <p class="text-gray-700 mb-6">WhatsApp: +44 7946 044334</p>
                        <p class="text-gray-700 mb-2">We are here to help ensure that your experience is smooth and enjoyable.</p>
                        <p class="text-gray-700">Warm regards,</p>
                        <p class="text-gray-700">The Alطps Driving School Team</p>
                      </div>

                    </td>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>



